html{
	font-size: 62.5%;
}
body{
	background: #fff;
}
.z-con-us{
	background: #f0f0f0;
}
/*头子开始*/
.z-abo-us{
	width: 100%;
}
.z-abo-us img{
	max-width: 100%;
}
.z-con-us-pic{
	width: 100%;
	height: 126px;
	height: 12.6rem;
	line-height: 126px;
	line-height: 12.6rem;
}
.z-con-us-pic img{
	vertical-align: middle;
	max-width: 100%;
}
/*头子结束*/

/*内容开始*/
.z-pic{
	display: inline-block;
	position: relative;
	width: 31%;
	margin-bottom: 20px;
	margin-bottom: 2rem;
	font-size: 0;
}
.z-pic img{
	max-width: 100%;
	/*display: block;*/
	border: 0;
}
.z-cp-con-wraper{
		width: 1000px;
		width: 100rem;
		margin: 0 auto;
		overflow: hidden;
	}
	.z-ic-wraper{
		width: 1020px;
		width: 102rem;
		margin-right: -2rem;
		text-align: center;
	}
.z-com-pro-wraper{
	width: 1000px;
		width: 100rem;
		margin: 0 auto;
	}
/*内容结束*/